{% extends 'layout.html' %}

{% block body %}
<div class="jumbotron">
    <h1 class="display-4">A QR-based picture trail </h1>
    <p class="lead">Join our trail. Find all the items listed below and scan their QR Code with your phone.</p>
    <p>Title: {{ app_data['html_title'] }}</p>

    <!-- <hr class="my-4">
    <p>It uses utility classes for typography and spacing to space content out within the larger container.</p>
    <a class="btn btn-primary btn-lg" href="/contact" role="button">Contact</a> -->
  </div>
{% endblock %}
