{% extends 'layout.html' %}

{% block body %}
    <h1>QR Codes</h1>
    
    <div class="container">
    {% for item in app_data['id_dict'] %}
        <div class="row" >
            <h2>{{ app_data['id_dict'][item] }}</h2>
            <a href="{{ app_data['base_url'] + "trail?id=" + item }}">{{ app_data['base_url'] + "trail?id=" + item }}</a>
            <div class="col-md-6">
                <a href="../static/{{ app_data['id_dict'][item] }}.jpg"><img src="../static/{{ app_data['id_dict'][item] }}.jpg" class="img-fluid" alt="{{ item }}" /></a>
            </div>
            <div class="col-md-6">
                <a href="../qr/{{ item }}"><img src="../qr/{{ item }}" class="img-fluid" alt="{{ item }}" /></a>
            </div>
        </div>
    {% endfor %}
    </div>
    

{% endblock %}